<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="stylesheets/base.css">
      <link rel="stylesheet" href="stylesheets/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Readsphera</title>
    <style>

  
    </style>
</head>
<body>
    
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar header__navbar--seperate">
                    <!-- <div class="header__logo">
                        <img class="header__logo-img" src="images/Readsphera (1).png" alt="">
                        Read
                    </div> -->
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--left">
                            <i class="fa-solid fa-globe"></i>
                            <span>Browse</span>
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa-solid fa-trophy"></i>
                            Rankings
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Creates
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa-solid fa-bag-shopping"></i>
                            Shop
                        </li>
                    </ul>
    
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item"><span class="header__navbar-item--search-circle"><i class="fa-solid fa-magnifying-glass"></i></span></li>
                        <li class="header__navbar-item"><a href="library" style="text-decoration: none; color: var(--main-color)">Library</a></li>
                        <li class="header__navbar-item"><i class="fa-solid fa-gear"></i></li>
                        <li class="header__navbar-item"><span class="header__navbar-item--login-circle"><a href="signup">Sign Up</a></span></li>
                        <li class="header__navbar-item"><span class="header__navbar-item--login-circle"><a href="login">Log In</a></span></li>
                    </ul>
    
                </nav>
                <!-- <div class="header__2"></div> -->
                 <div class="header-with-search">
                      <div class="header__logo">
                          <img src="" alt="" class=".header__logo-img">
                      </div>

                      <div class="header__search">

                      </div>

                      <div class="header__cart">
                          <i class="fa-solid fa-cart-shopping header__cart-icon"></i>

                      </div>
                 </div>

            </div>
        </header>


        <div class="container">
            <form action="/library" method="get">
                <label for="type">Filter by Type: </label>
                <select name="type" id="type">
                    <option value="">All</option>
                    <option value="love story">Love Story</option>
                    <option value="thriller">Thriller</option>
                </select>
                <button type="submit">Filter</button>
            </form>
        
            <table style="border-collapse: collapse;">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                <% typeList.forEach(function(type) { %>
                    <tr>
                        <td><%= type.name %></td>
                        <td><%= type.type %></td>
                        <td><%= type.description %></td>
                        <td><img src="<%= type.image %>" alt=""></td>
                    </tr>
                <% })%>
                
        
            </table>
        
            <ul>
                <% typeList.forEach(function(img) { %>
                    <li><img src="<%= img.image%>" alt=""></li>
                <% }) %>
        
            </ul>
        </div>
        <footer class="footer">

        </footer>







</body>
</html>




    
